*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    height:100%;
    font-family: 'Quicksand', sans-serif;

}
.meme{
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
}
#name, #date{
    padding-top: 10px;
    padding-left: 5px;
}
#date{
    font-size: 25px;
}
#url{
    width: 100%;
    padding-top: 10px;
}